body {
    
    background: rgb(113, 167, 247);
  }
  h1{
    font-family: Verdana, sans-serif;
    font-size: 75px;
    text-align: center;


  }
  a{

    font-family: Verdana;
    font-size: 25px;
    text-align: center;
    display: block;

    

  }
  h2{

    font-family: Verdana;
    font-style: italic;
    text-align: center;

  }
  
